# Mac OS-specific storage files
.DS_Store

# exclude data from source control
credentials.yaml
data/external/*
!/data/external/.gitkeep
data/raw/*
!/data/raw/.gitkeep
data/interim/*
!/data/interim/.gitkeep
data/processed/*
!/data/processed/.gitkeep
notebooks/
output/figures/*
!/output/figures/.gitkeep
output/results/*
!/output/results/.gitkeep
output/tables/*
!/output/tables/.gitkeep

# R files
.RData
.Rhistory
.Rproj.user
*.Rproj